<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/employee.css">
<style>
    body{
        margin-left: 10px;
        padding: 5px;
    }
    form{
        width: fit-content;
    }
    div{
        display: grid;
        grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>

<body>
<h1>Liste des employées</h1>


<table>
    <div th:each="v : ${employees}">
        <p><a th:text="${v.id}" th:href="@{/employee/{id}(id=${v.id})}"></a></p>
        <p th:text="${v.name}" th:style="'background-color:' + ${v.fonction.getCodeCouleur}"> </p>
    </div>
</table>

<h1>Formulaire d'ajout d'un employée</h1>

<form method="post" th:action="@{/employee/addemployee}" th:object="${employee}" >
    <p>
        <label> Nom: </label><input type="text" th:field="*{name}">
    </p>
    <p>
        <label>Address: <input type="text" th:field="*{address}"></label>
    </p>
    <p>
        <label>Mail:<input type="text" th:field="*{email}"></label>
    </p>
    <p>
        <label>Phone:<input type="text" th:field="*{phone}"></label>
    </p>

    <p>
        <select name="fonction" th:field="*{fonction}">
            <option th:each="colorOpt : ${T(fr.devavance.employees.enumeration.Fonction).values()}"
                    th:value="${colorOpt}" th:text="${colorOpt}"></option>
        </select>
    </p>
    <button>Submit</button>
</form>


</body>
</html>